{erl_opts, [debug_info, warnings_as_errors]}.
{deps, []}.
{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
{pre_hooks, [
    {"(linux|darwin)", compile, "escript ./scripts/generate_build_info.escript"},
    {"(linux|darwin)", escriptize, "escript ./scripts/generate_build_info.escript"}
]}.
{post_hooks, [
    {"(linux|darwin)", escriptize,
        "escript ./scripts/embed_priv_in_escript.escript ./_build/default/bin/smelterl"}
]}.
{escript_main_app, smelterl}.
{escript_name, smelterl}.
